<!DOCTYPE html>
<hmtl>
  <head>
    <title>Tu saldo</title>
  </head>
  <body>
    <h1>Tu saldo</h1>
    <p>
      <strong>Rut:</strong>
      <%= @rut %>
    <p>
    <p>
      <strong>Saldo:</strong>
      <%= @balance %>
    </p>
  </body>
</hmtl>
